@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
      167.96deg,
      #efdad7 0%,
      rgba(154, 208, 236, 0.27) 52.08%,
      #efdad7 100%
    )
    fixed;
}
.title {
  color: #1a82b6;
}
.top-panel {
  background: rgb(255, 244, 244, 0.5);
}
.search-panel {
  background: white;
  opacity: 0.7;
}
.search-panel:hover {
  opacity: 1;
}

.card-panel {
  background: white;
  opacity: 0.7;
}
.card-panel:hover {
  opacity: 1;
}
